@model MyDealDouble.Web.viewModels.CategoryViewModel

<div class="modal-header">
	<h5 class="modal-title">Edit Category</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form id="editForm" method="post">
	<div class="modal-body">
		<input type="hidden" name="ID" value="@Model.ID" />

		<div class="form-group">
			<label>
				Name
			</label>
			<input class="form-control" name="Name" value="@Model.Name" />
		</div>

		<div class="form-group">
			<label>
				Description
			</label>
			<input class="form-control" name="Description" value="@Model.Description" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Close</button>
		<button class="btn btn-success" type="button" id="saveButton"><i class="fas fa-save"></i> Save</button>
	</div>
</form>
@section Scripts{
 <script>
	$("#saveButton").click(function () {
		$.ajax({
			url: "@Url.Action("Edit", "Categories")",
			method: "post",
			data: $("#editForm").serialize()
		})
		.done(function (response) {
			$("#listingArea").html(response);
			$('#formModal').modal('toggle');

		});
	});
 </script>
}