@model MyDealDouble.Entities.Auction
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this record !</h2>

<form action="/Auctions/Delete" method="post">

	<input name="ID" value="@Model.ID" type="hidden" />
	<br />
	
	<button>Submit</button>

</form>