
@{
	ViewBag.Title = "Index";
}

<div class="row">
	
		<h2>Auctions</h2>

		<div id="listingArea">
			@{Html.RenderAction("Listing"); }
		</div>
		<!-- Button trigger modal -->
		<div>
			<button id="addNewbutton" type="button" class="btn btn-success">AddNewAuction</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="ContentArea">

				</div>
			</div>
		</div>
	
</div>

<script>
	$("#addNewbutton").click(function () {

		$.ajax({
			url: "@Url.Action("Create","Auctions")",
			type:"get"
		}).done(function (response) {
			
			$("#ContentArea").html(response);
			$("#formModal").modal('toggle');

		}).fail(function () {
			alert("Sorry ! Try Again")
		});
	});
</script>